@import '@/assets/scss/font';
@import '@/assets/scss/config.scss';
@import '@/assets/scss/global';
@import '@/assets/scss/grid';
@import '@/assets/scss/color';
@import '@/assets/scss/variables';

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
